body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.logo {
    font-size: 3em;
    color: green;
    margin-bottom: 20px;
}

h1 {
    color: blue;
    font-size: 2em;
}

img {
    width: 200px;
    height: auto;
}
