body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.logo {
  font-size: 3em;
  color: green;
  margin-bottom: 20px;
}

.title {
  color: red;
  font-size: 2rem;
  text-align: center;
}

h1 {
  color: blue;
  font-size: 2em;
}

img {
  width: 200px;
  height: auto;
}
